
hr{
    background-color: #D4d4D7;
    border: 0px;
    height: 1px;
}
body{
    background-image:url('C:\coding\사진\web html용 사진\2DAD51C7-9DE0-4F9A-86A8-9708D3BDA9F7.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    width: 960px;
    margin: 0 auto;
}

#aside{
    width: 200px;
    float: left;
}

#section{
    width: 760px;
    float: left;
}
table{
    box-sizing: inherit;
    box-sizing: inherit;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    background-color: #f5f5f5;
    border-collapse: collapse;
}
td{
    margin : 10px;
    padding : 1px 30px;
    text-align : center;
    display: table-cell;
    vertical-align: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}

/*헤더*/
#main_header{
    width: 960;
    margin: 0 auto;

   height: 160px;
   position: relative; 
}

#main_header > #title{
    position: absolute;
    left: 69px; top: 30px;
}

#main_header > #main_gub{
    position: absolute;
    left: 30px; top: 180px;
}

#main_header > #main_lud{
    position: absolute;
    left: 30px; top: 180px;
}

